body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: aliceblue;
    
}

header{
    display: flex;
    min-height: 70px;
    background-color: #4CAF50;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.fondo{
    opacity: 0.5;
}

.selectbox {
    justify-content: center ;
}

.logo{
    display: flex;
    align-items: center;
}

.logomol{
    height: 80px;
    margin-right: 10px ;
    
}

nav a{
    font-weight: 600;
    padding-right: 100px;
}


select {
    margin-top: 10px;
    /* Reset */
    align-items: center;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
      }
    /* Remove focus outline */
    &:focus {
        outline: none;
      }
    /* <option> colors */
    option {
        color:inherit;
        background-color: var(--option-bg);
      }
}

.button{
    position: relative;
    margin-top: 20px;
    height: 50px;
    width: 100px;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

.gradient-custom {
    /* fallback for old browsers   transparent !important  #6a11cb;*/
    background: rgba(181, 181, 181, 0.7) /*rgba(132, 106, 106, 0.5) ; rgba(181, 181, 181, 0.5)*/
  
    /* Chrome 10-25, Safari 5.1-6 
    background: -webkit-linear-gradient(to right, rgba(105, 114, 104, 0.9), rgba(181, 181, 181, 0.9));
  
     W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    background: linear-gradient(to right, rgba(105, 114, 104, 0.9), rgba(181, 181, 181, 0.9));
    */
  }